body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

aside.card {
    margin-left: 8px;
    padding: 8px;
    width: 275px;
    height: 95vh;
}

aside h5 {
    margin-top: 0;
}

aside label {
    display: block;
}

aside button {
    margin-top: 1.5rem;
    float: right;
}

main {
    flex-grow: 4;
    height: 95vh;
}

main .svg-wrapper {
    height: 100%;
}

g.node.hovered * {
    stroke: #0d47a1;
}

g.node.hovered text {
    stroke: none;
    fill: #0d47a1;
}

g.edge.hovered * {
    stroke: #0d47a1;
}
g.edge.hovered polygon {
    fill: #0d47a1;
}

g.edge.hovered text {
    stroke: none;
    fill: #0d47a1;
}

g.node.hovered.direct * {
    stroke: #2196f3;
}

g.node.hovered.direct text {
    stroke: none;
    fill: #2196f3;
}

g.edge.hovered.direct * {
    stroke: #2196f3;
}
g.edge.hovered.direct polygon {
    fill: #2196f3;
}

g.edge.hovered.direct text {
    stroke: none;
    fill: #2196f3;
}
